*.o
*.a
*.prl
*~
*.orig
*.bak
*.obj
moc_*
qrc_*
*.moc
*.user*
Makefile
core
DEADJOE
*.gcda
*.gcno
*.gcov-info
coverage
branch-coverage
*.so
*.pc
*.qmlc
*.jsc
.qmake.*
*.pch
*.log

config.tests/*/*
!config.tests/*/*[.]*
config.tests/*/*[.]app
*_wrapper.sh
tst_*
!tst_*.*
tst_*.qmlc

src/**/*.sh
doc/**/*.sh
src/tools/*/*_interface.*
src/tools/*/*_adaptor.*
src/dbus-lib/*_adaptor.h
src/launcher-lib/*-qtam-extension*
src/window-lib/*-qtam-extension*

src/tools/testrunner/build-config.yaml
src/tools/testrunner/config.qrc
src/tools/appman/build-config.yaml
src/tools/appman/config.qrc
doc/codeattributions.qdoc
examples/applicationmanager/custom-appman/custom-appman
tests/qml/crash/apps/tld.test.crash/terminator2/Terminator/
