# even cygwin's sh wants scripts with lf only
*.sh    eol=lf

# certificates
*.p12   binary
*.crt   binary

*.bin   binary

.tag                    export-subst
.gitignore              export-ignore
.gitattributes          export-ignore
