*.o
*.a
*.prl
*~
*.orig
*.bak
*.obj
moc_*
qrc_*
*.moc
*.user*
Makefile
core
DEADJOE
*.gcda
*.gcno
*.gcov-info
coverage
branch-coverage
*.so
*.pc
*.qmlc
*.jsc
.qmake.*
*.pch
*.log

config.tests/*/*
!config.tests/*/*[.]*
config.tests/*/*[.]app
*_wrapper.sh
tst_*
!tst_*.*

src/**/*.sh
doc/**/*.sh
src/tools/*/*_interface.*
src/tools/*/*_adaptor.*

src/manager/build-config.yaml
src/manager/config.qrc
src/tools/testrunner/build-config.yaml
src/tools/testrunner/config.qrc
