version: 2
accept_configuration:
  condition: and
  conditions:
    - condition: property
      property: features
      not_contains_value: Disable
    - condition: or
      conditions:
        - condition: property
          property: target.os
          not_equals_value: MacOS
        - condition: property
          property: host.arch
          not_equals_value: ARM64

instructions:
  Build:
  - type: EnvironmentVariable
    variableName: BUILD_DOCUMENTATION
    variableValue: "1"
  - type: Group
    instructions:
        - !include "{{qt/qtbase}}/coin_module_build_template_v2.yaml"

  Test:
    - type: Group
      instructions:
        - !include "{{qt/qtbase}}/coin_module_test_template_v3.yaml"
      disable_if:
        condition: or
        conditions:
          - condition: property
            property: host.os
            in_values: ["Windows", "MacOS"]
          - condition: property
            property: target.os
            in_values: ["IOS", "Android", "WebAssembly"]
