formatVersion: 1
formatType: am-configuration
---
applications:
  builtinAppsManifestDir: "${CONFIG_PWD}/apps"
  installationDir: "${stdpath:TempLocation}/qtam-example/minidesk/apps"
  documentDir: "${stdpath:TempLocation}/qtam-example/minidesk/docs"

logging:
  rules:
    - "*=false"
    - "qt.*=false"
    - "am.*=false"
    - "qml*=true"
    - "*.warning=true"
    - "*.critical=true"

ui:
  fullscreen: no
  mainQml: "${CONFIG_PWD}/system-ui/main.qml"

systemProperties:
  protected:
    light: on

# development setup:
flags:
  noSecurity: yes
